/* body{
       background: -webkit-linear-gradient(-45deg,rgba(88, 195, 255,.7) 0,rgba(0, 77, 230,.7) 40%,rgba(0, 59, 177,.7) 100%);
       width: 100vw;
} */
body{
       /* background-color: #000; */
       box-sizing: content-box;
       padding: 0;
       margin: 0;
       background: #fff;
     
      
}